<div class = "row">
  <div class = "col-xs-6 col-xs-offset-3">
<h1>Sign Up</h1>
  </div>
</div>

<div class = "row">
 <div class = "col-xs-6 col-xs-offset-3">
      <%= form_for @user do |f| %>
        <div class="row">
          <%= f.text_field :avatar, placeholder: "Photo Url", class: "form-control" %>
        </div><p></p>
        <div class="row">
          <%= f.text_field :first_name, placeholder: "First Name", class: "form-control" %>
        </div><p></p>
        <div class="row">
          <%= f.text_field :last_name, placeholder: "Last Name", class: "form-control" %>
        </div><p></p>
        <div class="row">
          <%= f.text_field :email, placeholder: "Email", class: "form-control" %>
        </div><p></p>
        <div class="row">
          <%= f.text_field :current_city, placeholder: "Current City", class: "form-control" %>
        </div><p></p>
        <div class="row">
          <%= f.password_field :password, placeholder: "Password", class: "form-control" %>
        </div>
        <%= f.submit "Sign Up", class: "btn btn-success top-spacer" %>
      <% end %>
  </div>
</div>
