<h1>Show User</h1>
<hr>
<p><strong>Name:</strong> <%= @user.first_name %> <%= @user.last_name %></p>
<p><strong>Email:</strong> <%= @user.email %></p>
<p><%= link_to "edit this user", edit_user_path(@user) %></p>
<p><%= link_to "delete this user", user_path(@user), method: :delete %></p>
