<div class ="row">
  <div class="col-xs-12">
  <div class = "col-xs-6 pull-left">
    <div class = "row">
      <div class = "col-sm-6">
        <%= link_to image_tag("http://placehold.it/320x320", class: 'full-width') %>
      <p><strong>Name:</strong> <%= @user.first_name %> <%= @user.last_name %></p>
      <p><strong>Email:</strong> <%= @user.email %></p>
      <p><strong>Current City:</strong> <%= @user.current_city %></p>
      <p><strong>Join Date:</strong> <%= @user.created_at.strftime("%m/%d/%Y") %></p>
      <%= link_to "Edit User", edit_user_path(@user), class: "btn btn-info btn-md top-marg" %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class = "col-xs-6 pull-right">
      <div class="row">
        <div class="col-sm-6">
          <ul>
            <% @posts.each do |p| %>
            <li>
              <%= p.title %><p>
                <%= p.content %><p>
                  <%= p.city.name %><p><p>
            </li>
            <% end %>
          </ul>
        </div>
      <button type = "button" class = "btn btn-info btn-md">
        <span class = "glyphicon glyphicon-pencil"></span>
      </button>
      <button type = "button" class = "btn btn-danger btn-md">
        <span class = "glyphicon glyphicon-remove"></span>
      </button>
      </div>
    </div>
  </div>
 </div>
</div>
