<!-- City Image -->
<div class = "row">
  <div class = "col-xs-12">
    <%= image_tag @city.image, class: "full-width" %>
  </div>
</div>

<div class ="row">
  <div class = "col-xs-6 col-xs-offset-2 pull-left">
    <div class = "row">

      <!-- City info -->
      <div class = "col-sm-10">
        <div class = "row">
          <h1><%= @city.name %></h1>
        </div>
        <div class = "row">
          <div class = "col-sm-11">
            <% if @city.state || @city.country %>
              <h4 class="grey"><em><% if @city.state %><%= @city.state %>, <% end %><% if @city.country %><%= @city.country %><% end %></em></h4>
            <% end %>
          </div>
        </div>
      </div>

      <% if current_user %>
        <div class = "col-md-1 col-md-offset-1 col-xs-4 col-xs-offset-5">
          <%= link_to "New Post", new_post_path(@city), method: "get", class: "btn btn-success btn-lg top-marg" %>
        </div>
      <% end %>

    </div>
  </div>
</div>

<div class = "row">
  <hr />
</div>

<!-- Posts -->
<% if @posts %>
<% @posts.order(:created_at).reverse_order.each do |post| %>
  <div class = "row card">
    <div class = "col-sm-10 col-sm-offset-1">
      <div class = "col-xs-2">
        <div class = "row">
          <%= image_tag(post.user.avatar, class: 'full-width grey-border') %>
        </div>
        <div class = "row top-spacer">
          <div class = "col-xs-offset-1">
            <div class = "row">
              <% username = post.user.first_name + " " + post.user.last_name %>
              <strong><%= link_to username, user_path(post.user) %></strong>
            </div>
            <div class = "row grey">
              <em><%= post.user.current_city %></em>
            </div>
          </div>
        </div>
      </div>
      <div class = "col-xs-8 col-xs-offset-1">
        <div class = "row">
          <h3><%= link_to post.title, city_post_path(@city, post) %></h3>
        </div>
        <div class = "row">
          <%= h truncate(post.content, :length => 400) %>
          <% if post.content.length > 400 %>
            <%= link_to "Read more", city_post_path(@city, post) %>
          <% end %>
        </div>
        <div class = "row top-spacer">
          <%= link_to "View Post", city_post_path(@city, post), class: "btn btn-primary btn-sm" %>

          <!-- Edit buttons (only for post author) -->
          <% if post.user == current_user %>
            <%= link_to "Edit", edit_post_path(@city, post), method: "get", class: "btn btn-info btn-sm left-spacer"%>
            <%= link_to "Delete", city_post_path(@city, post), method: "delete", data: {confirm: 'Are you sure?'}, class: 'btn btn-danger btn-sm left-spacer'%>

          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<% end %>
