<!DOCTYPE html>
<html>
<head>
  <title>Vagabond</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Khula:400,600|Lato:400,400italic,700' %>

  <%= csrf_meta_tags %>
</head>
<body>


  <div class="container-fluid bottom-margin">
    <div class="col-xs-12">
      <!-- Bootstrap Sticky Navbar -->
      <nav class="navbar navbar-inverse navbar-fixed-top" id="nav" role="navigation">
        <div class="container" id="nav-container">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-collapse" aria-controls="navbar" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <%= link_to "VAGABOND", root_path, class: "navbar-brand" %>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="nav-collapse">
            <ul class="nav navbar-nav nav-pills">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Cities <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <% @cities.each do |city| %>
                    <li><%= link_to city.name, city_path(city) %></li>
                  <% end %>
                </ul>
              </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <% if current_user %>
                <% user_greeting = current_user.first_name + "'s Profile" %>
                <li><%= link_to user_greeting, user_path(current_user) %></li>
                <li><%= link_to "Log Out", logout_path(current_user) %></li>
              <% else %>
                <li><%= link_to "Sign Up", new_user_path %></li>
                <li><%= link_to "Log In", new_session_path %></li>
              <% end %>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>

      <!-- Error message flash -->
      <div class="row">
        <% flash.each do |name,msg| %>
          <div class = "col-sm-10 col-sm-offset-1 error-msg text-danger bg-danger">
            <%= msg %>
          </div>
        <% end %>

        <%= yield %>
      </div>
    </div>
  </div>

</body>
</html>
